In [2]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
dat = pd.read_csv('hairdryer_cleaned.csv', header=0)
X = dat['review_body']

In [4]:
# sentiment score   
res = []

sid = SentimentIntensityAnalyzer()
for sen in X:
    ss = sid.polarity_scores(sen)
    tmp = []
    for k in ss:
        tmp.append(ss[k])
    res.append(tmp)

labels = ['neg', 'neu', 'pos', 'compound']
df = pd.DataFrame.from_records(res, columns=labels)

In [5]:
df

         neg    neu    pos  compound
0      0.000  0.185  0.815    0.6588
1      0.000  0.777  0.223    0.9562
2      0.000  0.308  0.692    0.6696
3      0.000  1.000  0.000    0.0000
4      0.000  0.562  0.438    0.8316
...      ...    ...    ...       ...
11106  0.000  0.841  0.159    0.7854
11107  0.033  0.919  0.048    0.3732
11108  0.050  0.715  0.235    0.9592
11109  0.023  0.886  0.091    0.7313
11110  0.017  0.839  0.144    0.9736

[11111 rows x 4 columns]